*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #8a5a44;
    height: auto;
}

.sekce{
    width: 50vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
@media(max-width:550px){
    .sekce{
        width: 60vw;
    }
}
@media(max-width:450px){
    .sekce{
        width: 70vw;
    }
}

.obsah_1{
    text-align: left;
    height: auto;
}


.obsah_1 h1{
    margin-top: 5px;
    color: #fff;
    font-size: clamp(20px, 2vw, 36px);
    text-align: left;
}

.odkazy{
    text-align: right;
}

.odkazy a{
    color: #fff;
    text-decoration: none;
    text-align: right;
    font-size: clamp(16px, 1.8vw, 26px);
    margin-left: 2vw;
}

.odkazy a:hover{
    text-decoration: underline;
    color: #ffffffab;
}

header .obrazek{
    margin-top: 5px;
}

header .obrazek img{
    width: 100%;
    display: block;
    margin: 0 auto;
}

header .obrazek .menu{
    position: relative;
    top: -8vw;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    background-color: #8a5a44;
    line-height: 5vw;
}
@media(max-width:650px){
    header .obrazek .menu{
        width: 90%;
    }
}

header .obrazek .menu a{
    text-decoration: none;
    color: #fff;
    font-size: clamp(16px, 1.8vw, 28px);
    text-transform: uppercase;
}

@media(max-width:450px){
    header .obrazek .menu .zmizet{
        display: none;
    }
}

header .obrazek .menu a:hover{
    text-decoration: underline;
    color: #ffffffab;
}








main{
    background-color: #8a5a44;
    height: auto;
}


main .galerie{
    width: 100%;
    margin: 0 auto;
}

main .galerie .misky_1{
    display: flex;
    justify-content: space-around;
}

main .galerie .misky_1 img{
    width: 33vw;
    border-radius: 800px;
}




main .galerie .misky_2{
    display: flex;
    justify-content: space-around;
}

main .galerie .misky_2 img{
    width: 33vw;
    border-radius: 800px;
}



main .galerie .misky_3{
    display: flex;
    justify-content: space-around;
}

main .galerie .misky_3 img{
    width: 33vw;
    border-radius: 800px;
}






.section{
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url(img/pozadi.jpg);
    background-size: cover;
}

.section h2{
    color: #fff;
    margin-bottom: 10px;
    text-decoration: underline;
}

.section p{
    color: #ffffffa6;
    margin-bottom: 5vw;
    font-size: 20px;
}


.sloupec_1{
    margin: 2vw auto;
    text-align: center;
}




.sloupec_2{
    margin: 2vw auto;
    text-align: center;
}




.sloupec_3{
    margin: 2vw auto;
    text-align: center;
}





.formular{
    width: 60%;
    margin: 3vw auto;
    text-align: center;
    border: 2px solid #000;
    border-radius: 20px;
    background-color: #582f14c9;
}
@media(max-width:320px){
    .formular{
        border: none;
        background-color: #8a5a44;
    }
}

.formular form textarea{
    margin: 0 auto;
    text-align: center;
    width: 30%;
    line-height: 40px;
    border-radius: 5px;
}
@media(max-width:750px){
    .formular form textarea{
        width: 180px;
    }
}

.formular h2{
    font-size: clamp(20px, 2.5vw, 36px);
    letter-spacing: 4px;
    color: #fff;
    margin-bottom: 2vw;
    margin-top: 2vw;
}

.formular input{
    width: 40%;
    line-height: 30px;
    text-align: center;
    border-radius: 10px;
    margin: 10px auto;
}
@media(max-width:750px){
    .formular input{
        width: 180px;
    }
}

.formular input[type="button"]{
    width: 100px;
    line-height: 30px;
    background-color: #8a5a44;
    color: #fff;
    cursor: pointer;
    transition: background 0.5s;
}

.formular input[type="button"]:hover{
    background-color: #fff;
    color: #000;
    text-decoration: underline;
}





table{
    width: 90%;
    margin: 0 auto;
    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3) ;
    border-radius: 10px;
    padding: 8px;
    line-height: 2vw;
    text-align: center;
}

table th{
    color: #fff;
    background-color: #3c096c;
    font-size: 20px;
    
}
table td{
    background-color: #c77dff;
    border-radius: 8px;
}


.tabulka{
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url(img/pozadi.jpg);
}