*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #8a5a44;
    height: auto;
}

.sekce{
    width: 50vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
@media(max-width:550px){
    .sekce{
        width: 60vw;
    }
}
@media(max-width:450px){
    .sekce{
        width: 70vw;
    }
}

.obsah_1{
    text-align: left;
    height: auto;
}


.obsah_1 h1{
    margin-top: 5px;
    color: #fff;
    font-size: clamp(18px, 2vw, 28px);
    text-align: left;
}

.odkazy{
    text-align: right;
}

.odkazy a{
    color: #fff;
    text-decoration: none;
    text-align: right;
    font-size: clamp(12px, 1.5vw, 20px);
    margin-left: 2vw;
}

.odkazy a:hover{
    text-decoration: underline;
    color: #ffffffab;
}

header .obrazek{
    margin-top: 5px;
}

header .obrazek img{
    width: 70%;
    display: block;
    margin: 0 auto;
}

header .obrazek .menu{
    position: relative;
    top: -6vw;
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    background-color: #8a5a44;
    line-height: 2.5vw;
}
@media(max-width:650px){
    header .obrazek .menu{
        width: 70%;
    }
}

header .obrazek .menu a{
    text-decoration: none;
    color: #fff;
    font-size: clamp(10px, 1.5vw, 20px);
    text-transform: uppercase;

}

header .obrazek .menu a:hover{
    text-decoration: underline;
    color: #ffffffab;
}








main{
    background-color: #8a5a44;
    height: auto;
}


main .galerie{
    width: 100%;
    margin: 0 auto;
}

main .galerie .misky_1{
    display: flex;
    justify-content: space-around;
}

main .galerie .misky_1 img{
    width: 33vw;
    border-radius: 5px;
}




main .galerie .misky_2{
    display: flex;
    justify-content: space-around;
}

main .galerie .misky_2 img{
    width: 33vw;
    border-radius: 5px;
}



main .galerie .misky_3{
    display: flex;
    justify-content: space-around;
}

main .galerie .misky_3 img{
    width: 33vw;
    border-radius: 5px;
}